.App {
  text-align: center;
  margin-top: 40px;
}

.num-box {
  border: black solid 2px;
  padding: 20px;
}

.right {
  background-color: green;
}

.wrong {
  background-color: red;
}

.right,
.wrong {
  position: fixed;
  width: 100%;
  margin-top: -40px;
}
